@import '../../../../main_vars';

.product_add_attr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    grid-column: span 2;

    @media(max-width: 500px) {
        display: block;

        input {
            float: none;
        }

        label {
            display: block;
        }
    }

    p {
        font-size: 14px;
        color: $font-secondary;
    }

    input {
        width: 50px;
    }

    label {
        margin-left: 0;
    }
}