@import '../sass/mainVars';
$text-color: white;

.headerButtons {
    display: flex;
    justify-content: space-around;
    margin-right: 2%;
    width: 250px;

    button {
        width: 115px;
        height: 30px;
        border: none;
        border-radius: 5px;
        color: $text-color;
        background-color: $accept;
    }

    :nth-child(2) {
        background-color: $reject;
    }

    :hover {
        filter: invert(10%);
        transition: 50ms;
    }

    :active {
        transform: scale(101%);
    }
}