@import '../../../sass/mainVars';

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100px;

    border-bottom: 2px solid $secondary-color;

    h1 {
        color: lighten($secondary-color, 10%);
        margin-left: 2%;
    }

    @media (max-width: 455px) {
        justify-content: center;
        border: none;
        margin-bottom: 50px;
    }
}