@import '../../../../main_vars';

.product_form {
    max-width: 600px;
    margin: auto 5%;
    text-align: center;
    @mixin reset-default {
        border-radius: 2px;
        outline: 0;
        border: none;
    }

    @import '../Input/Input';

    label {
        display: flex;
        //margin-left: 25%;
        align-self: center;
    }

    select {
        margin: 6px 0;
        @include reset-default();
    }
}

.primary_inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 0;
}

.type_selector {
    display: grid;
}


@import '../Attributes/Attributes.scss';